*{
	padding: 0px;
	margin: 0px;
}

/*header-section code start*/
.header-section{
	width: 100%;
}
.header-section .navbar{
	width: 100%;
	background: #7FFFD4;
}
.header-section .navbar-brand{
	width: 100%;
}
.header-section .navbar-brand img{
	width: 80px;
}
.header-section .navbar .form-control{
	background: light;
}
/*catagoris section code start*/
.catagoris{
	width: 100%;
	padding: 40px 0px;
	background: #e8ebec;
}
.catagoris .title{
	width: 100%;
	padding: 0px 0px 40px;
	text-align: center;
}
.catagoris .title h4{
	font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin: 0px 0px 10px;
    color: #506a85;
}
.catagoris p{
	font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    text-align: center;
    color: #a3b1bf;
}
.catagoris .owl-theme .owl-nav.disabled+.owl-dots{
	width: 100%;
	padding: 30px 0px;
}
.catagoris .owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
    background: #506a85;
}
.catagoris .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #00bc9c;
}
/*contact css code start*/
.contact{
	width: 100%;
	padding: 80px 0px 0px;
	background: #ededed;
}
.contact .title{
	padding: 0px 0px 40px;
	text-align: center;
}
.inner-content{
	width: 100%;
	padding: 40px 0px;
	text-align: center;
}
.inner-content .fa{
	font-size: 35px;
	color: #008ed6;
	margin: 0px 0px 20px;
}
.inner-content p{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #999;
}
/* footer css start */
.footer{
	width: 100%;
	padding: 40px 0px 30px;
	background: #15141a;
}
.footer .footer-inner{
	width: 100%;
	text-align: center;
}
.footer p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
	color: #999;
	margin: 0px;
	text-transform: uppercase;
}
